body {
    background-image: url(../img/fondo_de_unflix.jpg);
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    width: 30%;
    padding: 20px;
}

h1 {
    text-align: left;
    padding: 5px;
    font-size: 30px;
}

section {
    text-align: center;
    width: 150px;
    padding: 60px;
    background-color: rgb(0 0 0 / 62%) !important;
    border-radius: 5px;
    padding-top: 50px;
}

article input {
    display: block;
    padding: 10px;
    margin: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(68, 67, 67);
    border-radius: 5px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.button-red {
    background-color: red;
    color: white;
    border-radius: 5px;
    display: block;
    padding: 10px;
    margin: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.button-gray {
    background-color: gray;
    color: white;
    border-radius: 5px;
    display: block;
    padding: 10px;
    margin: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    color: black;
}

@media screen and (min-width: 48em) {
    section {
        width: 200px;
        padding: 60px;
    }
    h1 {
        text-align: center;
    }
    article input {
        font-size: 15px;
    }
}

@media screen and (min-width: 60em) {
    .logo {
        width: 10%;
    }
    section {
        width: 270px;
        padding: 60px;
    }
    h1 {
        text-align: center;
    }
    article input {
        font-size: 15px;
    }
}